<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="Logo">
        <span class="forum-name">
            <span class="conquisti">ConquisTi</span> <span class="forum-text">Forum</span>
        </span>
    </a>
</nav>