<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perguntas</title>
  <link rel="stylesheet" href="/css/ask.css">
</head>

<body>
  <div class="container">
    <div class="card">
      <h1>Pergunte aqui</h1>
      <div class="ask">
        <form>
          <!-- Campo de título -->
          <label for="title">Título:</label>
          <input type="text" id="title" name="title" placeholder="Digite o título da sua pergunta" required>
          <br><br>

          <!-- Campo de descrição -->
          <label for="description">Descrição:</label>
          <textarea id="description" name="description" rows="4" cols="50" placeholder="Digite a descrição da sua pergunta" required></textarea>
          <br><br>

          <!-- Botão de enviar -->
          <button type="submit">Perguntar!</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>