<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perguntas e Respostas</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="/img/logo.png" alt="Logo">
    </div>
    <div class="title">
      <h1>Ask&Answers</h1>
    </div>
  </header>
  <h1>Deseja fazer uma pergunta?</h1>
  <a href="/ask" class="btn">Fazer Pergunta</a>
  <h1>Lista de Perguntas</h1>
  <br>
  <div class="container">
    <% asks.forEach(ask=> { %>
      <div class="card">
        <h2>
          <%= ask.title %>
        </h2>
        <p>
          <%= ask.description %>
        </p>
        <!-- <div>
          <button class="btn">Responder</button>
        </div> -->
      </div>
      <% }) %>

  </div>
</body>

</html>