<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perguntas</title>
  <link rel="stylesheet" href="/css/ask.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="/img/logo.png" alt="Logo">
    </div>
    <div class="title">
      <h1>Ask&Answers</h1>
    </div>
  </header>
  <div class="container">
    <div class="card">
      <h2>Pergunte aqui</h2>
      <div class="ask">
        <!-- send form data to backend -->
        <form method="POST" action="/saveask">
          <label for="title">Título:</label>
          <input type="text" id="title" name="title" placeholder="Digite o título da sua pergunta" required>
          <br><br>
          <label for="description">Descrição:</label>
          <textarea id="description" name="description" rows="4" cols="50" placeholder="Digite a descrição da sua pergunta" required></textarea>
          <br><br>
          <button type="submit">Perguntar!</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>